@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", Arial, Helvetica, sans-serif; /* Default font is now Lato */
}

.text-dark {
  @apply text-textDark;
}

.text-gray {
  @apply text-textGray;
}

/* Ensure dark mode colors apply correctly */
.dark .text-dark {
  color: #f5f5f5; 
}

.dark .text-gray {
  color: #c0c0c0;
}

strong {
  color: theme("colors.highlightLight"); /* Default blue highlight */
}

.dark strong {
  color: theme("colors.highlightDark"); /* Yellow highlight in dark mode */
}