@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  color: black;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

nav {
  background-color: black;
}

nav ul li a {
  color: white;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  text-decoration: underline;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Strong text color */
strong {
  color: #0044cc; /* Highlight in blue */
}